{% extends 'master.html' %}
{% load static %}

{% block conteudo %}

<br>

<div class="container">
    <div class="form-group row align-items-center mb-4">
        <div class="col-12 text-center">
            <h1 class="display-weight-bold text-primary">Cadastro de Departamentos</h1>
            <hr class="mt-2 mb-3 border-primary">

        </div>
    </div>

    <fieldset class="fieldset-custom">
        <legend>
            {% if page_obj.paginator.count == 0 %}
                Nenhum registro encontrado
            {% elif page_obj.paginator.count == 1 %}
                1 Registro encontrado
            {% else %}
                {{page_obj.paginator.count}} registros encontrados
            {%endif%}
        </legend>

        <div class="form-grop row align-items-center">
            <div class="col-auto">
                <img src='{% static "img/search.png" %}' width="20" height="20px" alt="Pequisar">
            </div>
            <div class="text-left">

            </div>
            <div class="text-left">
                <label for="txtBuscaNome" class="col-form-label">Pesquisar por nome</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="txtBuscaNome" placeholder="Digite o nome do departamento" value="{{ query }}">
            </div>
        </div>

        <div id="departamentos-table">
            {% include 'departamentos_tables.html' %}
        </div>
    </fieldset>

    <hr>

    # CONTINUAR DAQUI
</div>

{% endblock %}